version: "3.7"

services:

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:release-cuda

    ports:
      - "3003:3003"

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: "all"
              capabilities: [gpu]

    environment:
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "compute,utility"

    volumes:
      - ${APP_DATA_DIR}/data/immich-ml/model-cache:/cache
    restart: always
