version: "3.7"

services:

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:release-cuda@sha256:20e07a4fbabce7b3e9cb93cc6423654a6ed77b87b1cbf3843a0f049e3ec70d3d

    ports:
      - "3003:3003"

    runtime: nvidia

    environment:
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "compute,utility"

    volumes:
      - ${APP_DATA_DIR}/data/immich-ml/model-cache:/cache
    restart: always
